@import '~@alauda/ui/theme/var';

.account-label {
  display: flex;
  font-size: 14px;
  align-items: center;
  color: $color-text-help;

  &__content {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 20px;
    padding: 4px 6px;
    border-radius: 2px;

    &:hover,
    &.isActive {
      color: $color-white;
      background-color: rgba($color-white, 0.16);
    }

    aui-icon {
      margin-left: 2px;
    }
  }

  &__icon {
    font-size: 16px;
    margin-right: 4px;
  }

  &__user-logo {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}
