<div class="account-label">
  <div
    class="account-label__content"
    [class.account-label__content--active]="isMenusActivated$$ | async"
    [auiDropdown]="menu"
    (show)="isMenusActivated$$.next(true)"
    (hide)="isMenusActivated$$.next(false)"
  >
    <aui-icon
      class="account-label__icon"
      icon="basic:account_circle_s"
    ></aui-icon>
    <span>{{ accountName$ | async }}</span>
    <aui-icon icon="angle_down" class="account-menu__icon"></aui-icon>
  </div>
</div>

<aui-menu #menu>
  <ng-container *ngFor="let menu of accountMenus$ | async; index as i">
    <a
      *ngIf="menu.allowed && (!menu.env || (env | pure: checkEnv:menu.env))"
      [href]="menu.href || '/console-platform/#/' + menu.link"
      target="_blank"
      noopener
      noreferrer
    >
      <aui-menu-item>
        <aui-icon [icon]="'basic:' + menu.icon"></aui-icon>
        <span>{{ menu.name | translate }}</span>
      </aui-menu-item>
    </a>
  </ng-container>

  <aui-menu-item [divide]="true" (click)="authState.logout()">
    <aui-icon icon="basic:sign_out_s"></aui-icon>
    <span>{{ 'logout' | translate }}</span>
  </aui-menu-item>
</aui-menu>
