@import '~@alauda/ui/theme/var';

.title {
  margin-bottom: 12px;
  font-size: 18px;
  color: $color-text-main;
}

$card-spacing: 5px !default;

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$card-spacing);

  ::ng-deep {
    .aui-card {
      border: 0;
      border-radius: 2px;
    }

    > {
      .card,
      aui-card {
        margin: {
          left: $card-spacing;
          right: $card-spacing;
          bottom: 20px;
        }

        flex: 1;
        border-radius: 2px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
        min-width: 225px;
        max-width: 264px;

        &:hover {
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
        }
      }

      .card__placeholder {
        height: 0;
        margin-bottom: 0;

        &,
        &:hover {
          box-shadow: none;
        }
      }

      // stylelint-disable-next-line
      aui-card + aui-card > .aui-card {
        margin-top: 0;
      }
    }
  }
}
