<section>
  <div class="title">{{ title }}</div>
  <div class="cards">
    <ng-content></ng-content>
    <div
      class="card card__placeholder"
      *ngFor="let _ of placeholders$ | async"
    ></div>
  </div>
</section>
