@import '~@alauda/ui/theme/var';
@import '~@alauda/ui/theme/mixin';

.brand-logo {
  height: 32px;
}

.logo-separator {
  height: 32px;
  width: 1px;
  background-color: #000;
  margin: 0 16px;
}

.project-title {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
}

.title {
  font: {
    size: 18px;
    weight: 500;
  }

  margin-bottom: 2px;
  display: flex;
  align-items: center;
  line-height: 20px;
  color: $color-text-main;
}

.version {
  font: {
    size: 12px;
    weight: 500;
  }

  line-height: 16px;
  color: $color-text-secondary;
}

.description {
  font-size: 12px;
  max-width: 100%;
  height: 16px;
  line-height: 16px;
  color: $color-text-help;
  @include text-overflow;
}

ab-card-section {
  img {
    height: 60px;
    max-width: 185px;
    margin-bottom: 12px;
  }

  + hr {
    margin: {
      top: 0;
      bottom: 20px;
    }

    background-color: $color-text-placeholder;
  }

  &.top {
    .title {
      margin-bottom: 0;
      height: 40px;

      + hr {
        width: 100%;
        background-color: #ededed;

        margin: {
          top: 8px;
          bottom: 8px;
        }
      }
    }

    img {
      margin-bottom: 8px;
    }

    .description {
      margin-bottom: 12px;
      height: 32px;
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  ::ng-deep {
    .aui-card__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

:host {
  ::ng-deep {
    .aui-page__header {
      justify-content: flex-start;
    }
  }
}
