<aui-page>
  <ng-container *auiPageHeader>
    <img class="brand-logo" src="brand.svg" alt="Brand Logo" />
    <span class="logo-separator"></span>
    <span class="project-title">{{ 'console' | translate }}</span>
    <div class="flex-1"></div>
    <ab-account-menu></ab-account-menu>
  </ng-container>
  <main *auiPageContent>
    <ng-container
      *ngFor="let cardSection of cardSections$ | async; last as isLast"
    >
      <ng-container *rxVar="cardSection.group === 'production'; let isProd">
        <ab-card-section
          [class.top]="isProd"
          [title]="cardSection.title | translate: null:true"
          [count]="cardSection.items.length"
        >
          <a
            class="card"
            *ngFor="let item of cardSection.items"
            [href]="
              isProd
                ? (item.homepage | pure: normalizeProdHomepage:(token$ | async))
                : item.homepage
            "
            [target]="
              item.openInBlank || (item.openInBlank == null && !isProd)
                ? '_blank'
                : ''
            "
          >
            <aui-card>
              <img
                [src]="item.logoURL || fallbackLogo"
                (error)="item.logoURL = fallbackLogo"
                alt="logo"
              />
              <div class="title">{{ item.title | translate: null:true }}</div>
              <ng-container *ngIf="isProd">
                <hr />
                <div class="version">{{ item.version }}</div>
              </ng-container>
              <div class="description">{{ item.description }}</div>
              <button *ngIf="isProd" aui-button="primary">
                {{ 'enterProduct' | translate }}
              </button>
            </aui-card>
          </a>
        </ab-card-section>
        <hr *ngIf="isProd && !isLast" />
      </ng-container>
    </ng-container>
  </main>
</aui-page>
